<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>

    <link rel="preload" href="/fontawesome-free-5.15.2-web/css/all.min.css" as="style" crossorigin="use-credentials"/>
    <link rel="preload" href="/css/bookmarks.css" as="style" crossorigin="use-credentials"/>
    <link rel="preload" href="/fontawesome-free-5.15.2-web/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>

    <link rel="preload" href="/js/jquery-3.5.1.min.js" as="script" crossorigin="use-credentials"/>
    <link rel="preload" href="/js/tagging-1.3.3.min.js" as="script" crossorigin="use-credentials"/>
    <link rel="preload" href="/js/bootstrap-5.0.0-beta2.bundle.min.js" as="script" crossorigin="use-credentials"/>
    <link rel="preload" href="/js/d3-6.5.0.min.js" as="script" crossorigin="use-credentials"/>

    <link rel="preload" href="/js/bookmarks/fetch-util.mjs" as="script" crossorigin="use-credentials"/>
    <link rel="preload" href="/js/bookmarks/notify.mjs" as="script" crossorigin="use-credentials"/>
    <link rel="preload" href="/js/bookmarks/bookmarks.mjs" as="script" crossorigin="use-credentials"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="/fontawesome-free-5.15.2-web/css/all.min.css" type="text/css" crossorigin="use-credentials"/>
    <link rel="stylesheet" href="/css/bookmarks.css" type="text/css" crossorigin="use-credentials"/>

    <title>Bookmarks</title>
  </head>

  <body class="p-5">
    <section class="container mx-auto mb-5">
      <form id="search-form" class="flex" onsubmit="return false">
        <input name="q" type="text" class="flex-auto mr-3 rounded border border-gray-300 focus:outline-none focus:border-blue-400 focus:ring focus:ring-blue-300" placeholder="Enter search terms" autofocus/>

        <button id="add-bookmark-button" class="flex-none rounded border border-blue-500 px-3 py-1.5 text-blue-500 hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:outline-none focus:ring focus:ring-blue-300">
          <i class="fas fa-plus"></i>
          New
        </button>
      </form>
    </section>

    <section id="results" class="container mx-auto mb-5"></section>

    <div id="toast-container" class="w-max max-w-full pointer-events-none absolute bottom-0 left-0 p-3"></div>

    <div id="add-bookmark-dialog" class="modal hidden fixed top-0 left-0 z-40 w-full h-full overflow-hidden">
      <div class="modal-dialog relative w-auto max-w-full md:max-w-screen-sm xl:max-w-screen-lg mx-5 md:mx-auto my-8 pointer-events-none">
        <div class="relative flex flex-col w-full pointer-events-auto rounded border border-gray-500 bg-white">
          <div class="flex flex-shrink-0 items-center justify-between p-4 border-b">
            <h5 id="add-bookmark-dialog-title">New Bookmark</h5>
            <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="relative flex-auto p-4">
            <form id="add-bookmark-dialog-add-form" onsubmit="return false">
              <input type="hidden" name="id"/>

              <div class="mb-3">
                <label for="url" class="inline-block mb-1">URL</label>
                <input name="url" id="url" type="text" class="block w-full rounded border border-gray-300 focus:outline-none focus:border-blue-400 focus:ring focus:ring-blue-300"/>
              </div>

              <div class="mb-3">
                <label for="title" class="inline-block mb-1">Title</label>
                <input name="title" id="title" type="text" class="block w-full rounded border border-gray-300 focus:outline-none focus:border-blue-400 focus:ring focus:ring-blue-300"/>
              </div>

              <div class="mb-3">
                <label for="description" class="inline-block mb-1">Description</label>
                <textarea id="description" name="description" rows="6" class="block w-full rounded border border-gray-300 focus:outline-none focus:border-blue-400 focus:ring focus:ring-blue-300"></textarea>
              </div>

              <div>
                <label class="inline-block mb-1">Tags</label>
                <div id="tags" data-tags-input-name="tag" class="block w-full rounded border border-gray-300 focus:outline-none focus:border-blue-400 focus:ring focus:ring-blue-300"></div>
              </div>
            </form>
          </div>

          <div class="flex flex-wrap flex-shrink-0 items-center justify-end p-3 border-t">
            <button id="add-bookmark-dialog-add-button" type="button" class="flex-none rounded m-1 px-3 py-1.5 border border-blue-500 bg-blue-500 text-white hover:border-blue-600 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">Save</button>
            <button id="add-bookmark-dialog-delete-button" type="button" class="flex-none rounded m-1 px-3 py-1.5 border border-red-500 text-red-500 hover:border-red-600 hover:bg-red-600 hover:text-white focus:outline-none focus:ring focus:ring-red-300">Delete</button>
            <button type="button" class="flex-none rounded m-1 px-3 py-1.5 border border-gray-500 text-gray-500 hover:border-gray-600 hover:bg-gray-600 hover:text-white focus:outline-none focus:ring focus:ring-gray-300" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/jquery-3.5.1.min.js" crossorigin="use-credentials"></script>
    <script type="text/javascript" src="/js/tagging-1.3.3.min.js" crossorigin="use-credentials"></script>
    <script type="text/javascript" src="/js/bootstrap-5.0.0-beta2.bundle.min.js" crossorigin="use-credentials"></script>
    <script type="text/javascript" src="/js/d3-6.5.0.min.js" crossorigin="use-credentials"></script>

    <script type="module" src="/js/bookmarks/bookmarks.mjs" crossorigin="use-credentials"></script>
  </body>
</html>
